 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
   --blue-dark:#2a73c2;
   --green: #2c7b90;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('img/fruta.jpg');
    height: 100vh;   
}

.container {
    max-width: 90%;
    width: 400px;
    height: 600px;
    margin: 10px auto; 
    font-family: Lobster;
    color: navy;
}

/*AGREGAR TAREA*/

/* Donde ingresar producto */
.agregar-tarea {
    background-color: white;
    border-radius: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    margin: 5px 0;
}

/* Ingreso del producto */
.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: white;
    padding-left: 5px;
    font-family: Piedra;
    font-size: 20px;
    font-style: italic;
}

/* Tamaño donde agregar producto */
.agregar-tarea input::placeholder {
   font-size: 1.4rem;
   color: gray;
   font-family: Caveat;
}

/* Boton + de agregar producto */
.agregar-tarea i{
    font-size: 35px;
    color: indigo;
}

.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*SECCION DE TAREA */

.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,var(--blue-dark),var(--green));
    border-radius: 12px;
    padding: 3px;
    color: white;
    margin: 5px 0;
}

/* Para marcar el circulo de la tarea*/
.seccion-tarea i {
    font-size: 20px;
}

/* Nombre y tamaño de la tarea */
.seccion-tarea > ul p {
    font-size: 1.4rem;
    color: whitesmoke;
    font-family: Caveat;
    font-style: italic;
}

/* Circulo cuando completas compra */
.seccion-tarea i:hover {
    color: red;
    cursor: pointer;
}

/* Tachon encima de lo ya comprado */
.line-through{
    text-decoration: line-through;
    text-decoration-color: red;
}

/* El check redondo de la izquierda y cuando lo tocas se queda de ese color*/
.fa-check-circle{
    color: red;
}

/* El check redondo de la izquierda de color cuando no lleva check */
.fa-circle{
    color: white;
}

.ico{
    border-radius: 15px;
    margin: 0 15px 0 0;
}

